<div class="container">
  <div class="card-list">
    <% @movies.each do |movie| %>
      <div id="movie_<%= movie.id %>" class="card">
        <div class="row no-gutters">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <%= movie.decorate.thumbnail %>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="card-body">
              <h5 class="card-title"><%= movie.name %></h5>
              <p class="card-text">
                <small class="text-muted">Share by <%= movie.decorate.user_email %></small>
              </p>
              <p class="card-text card-statistic">
                <span class="statistic-count"><%= movie.decorate.likes %></span>
                <i class="far fa-thumbs-up"></i>
                <span class="statistic-count"><%= movie.decorate.dislikes %></span>
                <i class="far fa-thumbs-down"></i>
              </p>
              <p class="card-text">
                <%= movie.description.truncate(150) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @movies, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end) %>
</div>
