%nav.header.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    %a.navbar-brand{:href => "/"}
      %b Funny
      Movies
    %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo02", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      - unless user_signed_in?
        = form_for(resource, as: resource_name, url: session_path(resource_name), :remote => true, html: { class: "form-inline my-2 my-lg-0" }) do |f|
          = f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control mr-sm-2"
          = f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "form-control mr-sm-2"
          = f.submit "Login/Register", class: "btn btn-outline-success my-2 my-sm-0"
      - else
        .my-2.my-lg-0
          %span.navbar-text
            Welcome
            %b #{current_user.email}
          %a.btn.btn-sm.btn-outline-success{:href => new_movies_share_url}
            Share a movie
          = button_to("Logout", destroy_user_session_url, method: :delete, class: "btn btn-sm btn-light")
